@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0d6efd0d;
  height: 100%;
  /* overflow: hidden; */
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 5rem;
  background-color: #0d6efd0d;
}

.btn {
  background-color: #570df8;
  color: #fff;
  padding: 0.7rem 1rem;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  background-color: #2d0389f3;
}

.header-Section {
  background-color: #0d6efd0d;
}

h1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  text-align: center;
}
.header-Section {
  padding-bottom: 1rem;
}
.header-text {
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
  margin: 1.5rem 0;
}

.btn-box {
  display: flex;
  justify-content: center;
}

.image-section {
  display: flex;
  justify-content: center;
}
.search-your-phone {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: center;
}
.input-section {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.input-bar {
  width: 100%;
  max-width: 20rem;
  padding: 0.7rem 1rem;
  height: 3rem;
  border-radius: 0.4rem;
  outline: none;
  border-width: 1px;
  font-size: 1rem;
}

.showALLBtn {
  display: flex;
  justify-content: center;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0d6efd0d;
  margin-top: 5rem;
  padding: 5rem 0;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top p {
  text-align: center;
  margin-top: 1rem;
}
.footer-content {
  font-weight: 600;
}
.icons {
  margin-top: 2rem;
}
.phone-container {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.phone-card {
  width: 27%;
  height: 27rem;
  padding: 1.25rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.4rem;
  margin: 1rem 0;
}

.phone-card p {
  text-align: center;
}
/* .phone-card .image {
  border: 1px solid red;
} */
.phone-card .image img {
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.phone-card .image img:hover {
  scale: 1.07;
}

#loading {
  display: flex;
  justify-content: center;
}

#loading svg {
  width: 125px;
  height: 125px;
}

.showDetail-section {
  /* display: flex; */
  /* justify-content: center; */
  /* position: relative; */
  z-index: 1;
  /* border: 1px solid red; */
  /* height: 100vh;
  width: 100vw; */
}

.show-Detail-container {
  background-color: #9cd3d3;
  width: 32%;
  height: 85%;
  display: flex;
  justify-content: center;
  z-index: 10;
  top: 7%;
  left: 34%;
  border: none;
  border-radius: 0.5rem;
  position: fixed;
  overflow: auto;
  /* border: 1px solid red; */
}
.dialog {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dialog p {
  text-align: center;
}

.red {
  background-color: red;
}
.red:hover {
  background-color: red;
  opacity: 0.4;
}
